# Ignore node_modules
node_modules/

# Ignore src directory
src/
public/

# Ignore configuration files
package.json
package-lock.json
postcss.config.js
tailwind.config.js

# Ignore README (optional, if you don't want it in the repo)
README.md

# Ignore Git specific files if any
.git/
